aside {
    background-color: #AE334E;
    min-height: 100vh;
}

.product-box {
    /* border: 1px #ecf0f1 solid; */
    padding: 1em;
    /* box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8; */
    background-color: #ffffff;
    border-radius: 12px;
    padding-bottom: 0;
    margin-bottom: 2em;
    text-align: center;
}

.product-box img {
    padding-bottom: 2em;
    max-width: 100%;
}

.product-box.Produce {
    background: rgb(187,222,251);
    background: linear-gradient(0deg, rgba(187,222,251,1) 0%, rgba(222,245,255,1) 100%);

}

.product-box.Canned_Goods {
    background: rgb(255,254,240);
    background: linear-gradient(180deg, rgba(255,254,240,1) 0%, rgba(255,253,231,1) 100%);
}

.product-box.Snacks {
    background: rgb(255,248,250);
    background: linear-gradient(180deg, rgba(255,248,250,1) 0%, rgba(252,228,236,1) 100%);
    
}

.product-box .product-header {
    background-color: #4b6584;
    color: white;
    border-radius: 12px 12px 0 0;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: -1em;
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.product-box .product-header h3 {
    margin: 0;
    font-weight: 600;
}

.product-box .product-meta {
    background-color: #AE334E;
    border-radius: 0 0 12px 12px;
    margin-left: -1em;
    margin-right: -1em;
    padding: 0.5em;
}

.product-box .product-meta .price {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    font-weight: 700;
    font-size: 1.8em;
    border-radius: 4px;
    padding: 0.1em 0.4em;
    width: 100%;
    text-align: center;
    display: block;
}

.product-box .product-meta .add-to-cart {
    font-family: "Open Sans", sans-serif;
    background-color: #20bf6b;
    color: white;
    font-weight: 700;
    font-size: 1.8em;
    border-radius: 4px;
    padding: 0.1em 0.4em;
    width: 100%;
    text-align: center;
    display: block;
    transform: 0.3s ease;
    cursor: pointer;
}

.product-box .product-meta .add-to-cart:hover {
    background-color: #07A652;
}

.thanks-box {
    background-color: white;
}

.store-background {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 2em;
    background-repeat: no-repeat;
}

.complete-background {
    background-image: url("../images/happy_background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 2em;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: auto;
}

.bag-container {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 8em;
}

.bag {
    width: calc(100% - 11em);
    z-index: 2;
    position: absolute;
}

.bag-items {
    height: 100%;
    z-index: 1;
    position: relative;
}

.bag-item {
    width: 60%;
    height: auto;
    margin-top: 1.8em;
    position: absolute;
}

h2 {
    background-color: #4b6584;
    padding: 0.5em 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border-radius: 12px;
    margin-bottom: 0.8em;
    font-size: 2.5em;
    color: white;
}

.total-price {
    color: black;
    text-align: center;
    border-radius: 12px;
    background-color: white;
    font-size: 4em;
    margin-top: 0.5em;
    font-weight: 600;
}

.cart-items {
    margin-top: 44em;
}

.cart-item {
    background-color: #FF99B4;
    border-radius: 12px;
    padding: 0.5em;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;;
    margin-bottom: 0.5em;
}

.cart-item img {
    width: 100%;
    height: auto;
}

.cart-item-name {
    margin-top: 0.5em;
    display: block;
    font-weight: 600;
}

.cart-item-price {
    background-color: white;
    font-weight: 600;
    color: black;
    border-radius: 4px;
    text-align: center;
    padding: 0.5em;
}

.checkout-button, a.checkout-button {
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0.5em; 
    background-color: #20bf6b;
    font-weight: 600;
    font-size: 1.8em;
    border-radius: 12px;
    padding: 0.5em 0.4em;
    width: 100%;
    text-align: center;
    display: block;
    transform: 0.3s ease;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #07A652;
}